@using Microsoft.EntityFrameworkCore.Metadata.Internal
@model ERP_Project.Models.ProjectTask

@{
    ViewData["Title"] = "Details";
}

<div class="card">
<div class="card-body">
    <div class="row">
            <h1 class="card-title col-md-4 ">@Html.DisplayFor(model => model.Title)</h1>
            <div class="col-md-4 ">
                @if (Model.Status == ProjectTaskStatus.Finished)
                {
					<span class="badge badge-success" style="font-size: 15px">Finished</span>
				}
                else if (Model.Status == ProjectTaskStatus.InProgress)
				{
                    <span class="badge badge-warning" style="font-size: 15px">In progress</span>
				}
                else if (Model.Status == ProjectTaskStatus.NotStarted)
				{
                    <span class="badge badge-info" style="font-size: 15px">Not started</span>
				}
            </div>
    </div>
        <h4>Project:  @Html.DisplayFor(model => model.Project.Name)</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Deadline)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Deadline)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Employee)
        </dt>
        <dd class = "col-sm-10">
            @if (Model.Employee != null)
			{
				@Html.DisplayFor(model => model.Employee.FirstName)
                @Html.DisplayFor(model => model.Employee.LastName)
			}
            else
            {
                <div>No Employee Assigned</div>
            }
        </dd>
    </dl>
        <hr />
        <div class="col-sm-2" style="font-weight: bolder; margin:10px">
            @Html.DisplayNameFor(model => model.Description)
        </div>
        <div class="col-sm-10" style="margin:10px">
            @Html.DisplayFor(model => model.Description)
        </div>
        <hr />
    <div>
            <a class="add btn btn-gradient-primary font-weight-bold todo-list-add-btn" asp-action="List">Back to List</a>
</div>
</div>
</div>